body {
    background-color: #f8f9fa; /* Un gris muy suave */
}

h1 {
    font-weight: 700;
}

/* Efecto suave para las tarjetas */
.card {
    transition: transform 0.2s;
    border: none;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}

.card:hover {
    transform: translateY(-5px);
}
